div {
  margin-left: 10%;
  margin-top: 10%;

}

body {
  font-family: Arial, sans-serif;
}

.diary-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.diary-item h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.diary-item p {
  font-size: 14px;
  margin-bottom: 5px;
}

.diary-item a {
  text-decoration: none;
  color: #007bff;
}

.diary-item a:hover {
  text-decoration: underline;
}


