/* ------------------------------ */
/* sample01 */
/* ------------------------------ */

.header01 {
  padding: 16px 24px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header01-logo {
  font-weight: bold;
  font-size: 20px;
}

.header01-list {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  font-weight: bold;
}

.header01-item--contact {
  background-color: #373c40;
  color: #fff;
  padding: 6px 16px;
  border-radius: 6px;
}

.back-ground{
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20230518/pngtree-journal-with-pens-on-a-wooden-table-image_2531412.png');
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-blend-mode: lighten;
  margin: 0; /* Add this line to remove default margin */
  height: 100vh; /* Add this line to ensure the body takes up the full viewport height */
}

body{
  margin: 0;
  padding: 0;
}