{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MyDiaryApp</title>
        <link rel="stylesheet" type="text/css" href="{% static 'diary/css/diary_all.css' %}">
    </head>
    <body>
        <div>
        <h1>日記の一覧</h1>
        {% for diary in diary_list %}
            {% if user.get_username == item.contributer %}
                <p>
                    {{ diary.date }}
                    <a href="{% url 'diary:diary_detail' diary.pk %}">{{ diary.title }}</a>
                </p>
            {% endif %}
        {% endfor %}
        <a href="{% url 'diary:diary' %}">戻る</a>
        </div>
    </body>
</html>