
{% extends "diary/base.html" %}



{% block content %}
{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>天気を調べよう！</title>
    <link rel="stylesheet" type="text/css" href="{% static 'diary/css/weather.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{% static 'diary/js/weather.js' %}"></script>
   
  </head>

  <body>
    <header class="header01">
      <h1 class="header01-logo">MyDiary</h1>
  
      <nav class="header01-nav">
          <ul class="header01-list">
              <li class="header01-item"><a href="">使い方</a></li>
              <li class="header01-item"><a href="">SNS</a></li>
              <li class="header01-item"><a href="">ポートフォリオ</a></li>
              <li class="header01-item"><a href=""></a></li>
              <li class="header01-item"><a href=""></a></li>
              <li class="header01-item header01-item--contact"><a href="">お問い合わせ</a></li>
          </ul>
      </nav>
  </header>

    <div id="container">
      <h1 class="top-h1">天気を調べよう！</h1>
      <p>
        <input id="input-address" type="text">
        <button onclick="findWeather()">天気を見る</button>
      </p>

      <div id="left">
        <h2><span id="city">***</span> の天気</h2>
        <table>
          <tr>
            <th>天気</th>
            <td id="td-weather">***</td>
          </tr>
          <tr>
            <th>気温 (Degree)</th>
            <td id="td-temperature">***</td>
          </tr>
          <tr>
            <th>湿度 (%)</th>
            <td id="td-humidity">***</td>
          </tr>
          <tr>
            <th>気圧 (hPa)</th>
            <td id="td-pressure">***</td>
          </tr>
        </table>
      </div>

      <div id="right">
        <ul>
          <li>緯度 : <span id="latitude">***</span></li>
          <li>経度 : <span id="longitude">***</span></li>
        </ul>
        <div id="map"></div>
      </div>

      <div>
        <th><a href="{% url 'diary:home' %}"class="btn btn-outline-primary">ホームに戻る</a></th>
      </div>
    </div>

    
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5FPrbleKfp2c3j0Le1Mt6D2xkVKBghow&callback=initMap"
      async defer></script>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
{% endblock %}